/* TAG DISTRIBUTION */

.tag_distribution {
  width: var(--width-distribution);

  display: flex;
  flex-direction: column;
  align-items: left;

  padding: 32px;
  background-color: var(--white-color);
  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;
}

.tag_distribution_title {
  font-size: 3rem;
  padding-bottom: 24px;
  border-bottom: 1px solid #ddd;
}

.tag_distribution_chart {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tag_distribution_item_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;

  border-bottom: 1px solid #ddd;
}

.tag_distribution_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag_distribution_item_dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--primary-green);
  margin-right: 8px;
}

.tag_distribution_item_dot.study {
  background-color: #00ffff;
}

.tag_distribution_item_dot.rest {
  background-color: #87ceeb;
}

.tag_distribution_item_dot.entertainment {
  background-color: #98fb98;
}

.tag_distribution_item_dot.other {
  background-color: #ff5733;
}

.tag_distribution_item_text {
  font-size: 1.8rem;
}

.tag_distribution_statistic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag_distribution_statistic_percentage {
  font-size: 1.8rem;
  margin-right: 64px;
}

.tag_distribution_statistic_value {
  font-size: 1.8rem;
}
