<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>
    <link rel="stylesheet" href="./Verification.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="cointainer">
        <h1 class="heading">Verification successfully</h1>
        <p class="text">
          Received your mail and hope this mail reads you well. Talent
          acquisition often requires a huge investment of time and resources, so
          it is always safe and secure to do your due diligence before
          onboarding a new hire.
        </p>
        <p class="footer">Thanks for joining us.</p>
      </div>
    </div>
  </body>
</html>
