/* Header Active */
.header_active {
  display: flex;
  align-items: center;
  justify-content: right;
  width: var(--primary-width);
  height: var(--primary-header-height);
}

.music_icon,
.note_icon {
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

.note_icon {
  margin-right: 48px;
}

.music_icon_container.musicInActive {
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    transform: rotate(45deg);
    width: 45px;
    height: 2px;
    background-color: var(--white-color);
  }
}

/* Music */

.video_frame {
  display: none;
}
