:root {
  --form-forgotpassword-width: 500px;
  --form-forgotpassword-height: 360px;
}

.forgotpassword_form {
  background-image: url("../../assets/background_login.jpg");
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;

  backdrop-filter: blur(18px);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: var(--form-forgotpassword-width);
  min-height: var(--form-forgotpassword-height);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4.8rem;
  color: var(--white-color);
  margin-bottom: 48px;
}

.input_container {
  width: 100%;
  margin-bottom: 36px;
  position: relative;
}

.input_field {
  width: 100%;
  height: 48px;
  background-color: transparent;
  border-bottom: 2px solid var(--white-color);

  font-size: 1.8rem;
  color: var(--white-color);
  caret-color: var(--white-color);

  padding-left: 32px;

  outline: none;

  &::placeholder {
    color: var(--white-color);
    opacity: 0.5;
  }
}

.input_icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.6rem;
  color: var(--white-color);
}

.forgotPassword_description_text {
  color: var(--white-color);
  font-size: 1.6rem;
  text-align: justify;
  margin-bottom: 18px;
}

.forgotpassword_button {
  width: 100%;
  padding: 16px;
  background-color: var(--white-color);
  border-radius: 10px;
  border-bottom: 4px solid #aaa;

  font-size: 1.8rem;
  margin-bottom: 36px;

  &:hover {
    background-color: var(--green-medium-color);
    border-bottom: 4px solid var(--dark-green-color);
    color: var(--white-color);
  }
}

.forgotpassword_container {
  display: flex;
  align-items: center;
}

.forgotpassword_text {
  font-size: 1.8rem;
  color: var(--white-color);
}

.forgotpassword_link {
  margin-left: 8px;
  font-size: 1.8rem;
  color: var(--yellow-brown-color);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Message */

.message {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 32px;
  background-color: var(--white-color);
  border-radius: 10px;

  min-width: 350px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 4px solid #aaa;

  animation: showMessage 0.25s ease, fadeInMessage 0.5s ease;
}

.message_text {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-right: 12px;
}

.message_text.success {
  color: #14ef10;
}

.message_text.error {
  color: #ff4141;
}

.message_close_icon {
  font-size: 1.6rem;
  color: var(--black-color);

  cursor: pointer;
}

@keyframes showMessage {
  from {
    top: -10px;
  }
  to {
    top: 50px;
  }
}

@keyframes fadeInMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
