.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 999;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 16px;
  background-color: var(--white-color);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar_container {
  position: relative;
}

.pause_icon,
.play_icon {
  width: 7.2rem;
  height: 7.2rem;
  color: var(--white-color);
  box-shadow: 0 0 10px 1px var(--black-color);

  padding: 16px;
  border-radius: 100%;
  backdrop-filter: blur(2px);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.avatar {
  width: 500px;
  height: 500px;
  object-fit: cover;

  border-radius: 10px;
  margin-bottom: 16px;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.description {
  text-wrap: wrap;
  max-width: 500px;

  font-size: 1.6rem;
  color: #808080;
  margin-bottom: 32px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  min-width: 200px;
  font-size: 2.4rem;
  background-color: var(--primary-green);
  border-radius: 10px;
  border-bottom: 4px solid var(--dark-green-color);
  padding: 8px 16px;

  cursor: pointer;
}

.price_text {
  margin-right: 8px;
  color: var(--white-color);
}

.price_coin_icon {
  color: var(--yellow-bold-color);
}

.unlocked {
  color: #808080;
  font-size: 1.8rem;
}

.video_frame {
  display: none;
}

/* Message */

.message {
  position: absolute;
  top: -72px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 32px;
  background-color: var(--white-color);
  border-radius: 10px;

  min-width: 350px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 4px solid #aaa;

  animation: showMessage 0.25s ease, fadeInMessage 0.5s ease;
}

.message_text {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-right: 12px;
}

.message_text.success {
  color: #14ef10;
}

.message_text.error {
  color: #ff4141;
}

.message_close_icon {
  font-size: 1.6rem;
  color: var(--black-color);

  cursor: pointer;
}

@keyframes showMessage {
  from {
    top: -100px;
  }
  to {
    top: -72px;
  }
}

@keyframes fadeInMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
